.app {
  min-height: 100vh;
  max-width: 1080px;
  margin: 0 auto;
}

.pill {
  color: var(--black);
  background: var(--gray);
  line-height: 20px;
  padding: 0 10px;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
}

.pill--green {
  background: var(--green);
}

.pill--yellow {
  background: var(--yellow);
}

.pill--red {
  background: var(--red);
}

.content-box.pills-box .pill {
  margin-bottom: 30px;
}

.social-list__item {
  margin-bottom: 8px;
}

.social-list__item a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-list__item img {
  margin-right: 16px;
  opacity: 0.7;
}

.social-list__item a:hover img {
  opacity: 1;
}

.section {
  display: flex;
  gap: 0 66px;
  margin-bottom: 66px;
}

.footer .separator {
  margin-bottom: 32px;
}

.link {
  color: var(--black);
  text-decoration: none;
}

.content-box .separator--fancy {
  margin-bottom: 30px;
}

.content-box__title {
  font-size: 24px;
  font-weight: 700;
  color: var(--black);
}

.link:hover,
.link:focus,
.link:active {
  color: var(--green);
}

.job-experience {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.job-experience .experience {
  padding: 0 0 0 20px;
  border-left: 2px solid var(--gray);
}

.job-experience .experience:first-child {
  border: none;
}

.experience__meta {
  text-align: center;
  margin-bottom: 26px;
}

.experience__description {
  margin-bottom: 8px;
}

.experience__achievments {
  list-style: disc;
  list-style-position: inside;
}

.contacts {
  margin: 0px 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
}

.contacts__item {
  text-align: center;
}

.contacts__item .link {
  display: block;
}

.contacts__item-headline {
  background: var(--black);
  text-transform: uppercase;
  color: var(--white);
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 12px;
}

.footer {
  margin-bottom: 32px;
}
